/* CSS declarations go here */

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #66ccff 0%, #ffffcc 78%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.iq-logo h1 {
  margin-top: 30px;
}

.textloop {
  margin-top: 10%;
  font-size: 60px;
}

.btn-primary {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
