/* Account Login */
/*-----------------------------------------*/

.app-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.logged-out-message {
  margin: 1rem;
  text-align: center;
}

/* Common */

.login-wrapper {
  position: absolute;
  border: 1px solid black;
  right: 1rem;
  top: 1rem;
}

.login-close-text {
  display: block;
  line-height: 1;
  visibility: hidden;
}

.login-close-text:after {
  content: "\2716";
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
}

.accounts-dialog {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 1rem;
  text-align: left;
}

.accounts-dialog label {
  margin-right: 0.5rem;
}

.accounts-dialog input {
  border: 0;
  border-bottom: 1px solid #8f8f8f;
  color: #8f8f8f;
  font-size: 0.9rem;
}

.accounts-dialog input:focus {
  border-bottom-color: #4ccbb0;
}

.login-link-and-dropdown-list {
  position: relative;
  text-align: right;
  margin: 0 auto;
  width: 50%;
}

.login-link-text {
  color: black;
  margin: 0 auto;
  display: inline-block;
}

.login-close-text {
  position: relative;
}

.additional-link-container {
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

[id="signup-link"],
[id="forgot-password-link"],
[id="back-to-login-link"] {
  cursor: pointer;
  text-decoration: underline;
}

[id="signup-link"]:hover,
[id="forgot-password-link"]:hover,
[id="back-to-login-link"]:hover {
  color: #4ccbb0;
}

[id="login-buttons-password"],
[id="login-buttons-open-change-password"],
[id="login-buttons-logout"] {
  cursor: pointer;
}

[id="login-buttons-open-change-password"]:hover {
  color: #4ccbb0;
}

[id="login-buttons-open-change-password"] {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

[id="login-buttons-logout"],
.login-button-form-submit {
  background-color: #a071b8;
  color: white;
  display: block;
  padding: 0.25rem 0.5rem;
  text-align: center;
  margin: 0 auto;
}

[id="login-buttons-logout"]:hover,
.login-button-form-submit:hover {
  background-color: #b3c1d6;
}

[id="login-email-label-and-input"],
[id="login-old-password-label-and-input"],
[id="login-password-label-and-input"] {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 75%;
  margin: 5px auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: lowercase;
  color: black;
}

[id="login-password-label-and-input"],
[id="forgot-password-email-label-and-input"] {
  width: 75%;
  margin: 0 auto;
  color: black;
}

.login-form .error-message {
  color: red;
  font-size: 0.85rem;
}

.login-form-sign-in {
  width: 75%;
}

#login-buttons {
  width: 100vw;
}

.modal-login {
  display: block;
  width: 100vw;
  height: auto;
}

.modal-title {
  font-size: 5rem;
  text-align: center;
  width: 100vw;
  color: white;
}

.accounts-dialog {
  width: 50%;
  margin: 0 auto;
}

.login-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  margin: 1rem auto;
  background: #80b3ff;
  width: 75%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.additional-link-container {
  display: flex;
}

#signup-link,
#forgot-password-link {
  margin: 0 auto;
  font-size: 0.75rem;
}

.hero-container {
  background: url("https://www.n-side.com/wp-content/uploads/2017/07/placeholder-blog.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color: white;
}
