table.table {
  width: 100vw;
}

tbody {
  display: block;
  max-height: 150px;
  overflow: scroll;
}

tr,
thead {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.rank {
  width: 10%;
}

.username {
  width: 45%;
}

.elo {
  width: 15%;
}

.games-played {
  width: 15%;
}

.points {
  width: 15%;
}
