.top-three {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

.single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-user p {
  margin: 0;
}

.top-image {
  height: 75px;
  display: flex;
  align-items: center;
}

.react-gravatar {
  border-radius: 50%;
}

li:nth-of-type(2) .react-gravatar {
  width: 75px;
  height: 75px;
}

li:nth-of-type(3) .react-gravatar {
  width: 35px;
  height: 35px;
}

.btn-group .btn {
  white-space: pre-wrap;
}

h1 {
  text-align: center;
}
