.answer {
  text-align: center;
}

.piechart {
  display: flex;
  justify-content: center;
  margin-left: 50%;
}

p {
  font-size: 12px;
}
.colorcontainer {
  display: flex;
  justify-content: center;
}

.colorbox {
  overflow: hidden;
  position: relative;
  margin: 0.5rem 0 1rem;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  font-size: 14px;
}
.colorbox.correct {
  background: #0088fe;
}
.colorbox.wrong {
  background: #00c49f;
}
