.main-login .login-link-text {
  background-color: #007bff;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.main-login .login-link-and-dropdown-list {
  text-align: center;
}

#login-buttons-open-change-password {
  background-color: #a071b8;
  padding: 0.25rem 0.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
}

#login-buttons-open-change-password:hover {
  background-color: #20c997;
}

.main-login #login-username-or-email-label-and-input {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.main-login #login-password-label-and-input {
  text-align: left;
}

.main-login .additional-link-container a {
  color: black !important;
}

.main-login .additional-link-container a:hover {
  color: #20c997 !important;
}

.main-login .login-form {
  text-align: center;
}

#login-password-label {
  line-height: 1.5;
}

#login-username-label-and-input,
#login-email-label-and-input {
  text-align: left;
}

#login-email-label {
  line-height: 1.5;
}
